form label, input, textarea {
    font-size: 25px;
    margin: 5px;
}

form input, textarea {
    width: 70%;
    padding: 10px;
}



form h1 {
    font-size: 40px;
    color: brown;
    background-color: aqua;
}

form button {
    font-size: 25px;
    padding: 5px 15px;
    margin: 5px
}